<ol class="breadcrumb">
	<li><a href="#">首页</a></li>
	<li><a href="#">系统设置</a></li>
	<li class="active">用户列表</li>
</ol>
<div class="panel-body">
	<div style="margin-bottom: 10px">
		<button class="btn btn-primary" ng-click="reflashUser()">
			<span class="glyphicon glyphicon-repeat" aria-hidden="true" /> 刷新
		</button>
		<a ui-sref="auth/user/edit({uid:0})" class="btn btn-success"><span
			class="glyphicon glyphicon-plus" aria-hidden="true" /> 新增</a>
		<button class="btn btn-primary" ng-click="reflashUserw()">
			<span class="glyphicon glyphicon-repeat" aria-hidden="true" /> 刷新
		</button>

	</div>
	<table class="table table-responsive table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th style="width: 150px; text-align: center;">#</th>
				<th>用户名</th>
				<th style="text-align: center; width: 60px;">管理员</th>
				<th style="text-align: center; width: 80px;">员工</th>
				<th style="text-align: center; width: 60px;">启用</th>
				<th>用户类型</th>
				<th>E-Mail</th>
				<th>最后登录时间</th>
				<th>创建时间</th>
				<th>备注</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in users" ng-class="{warning:item.isenable == 0}">
				<td class="text-center">
					<button class="btn btn-xs btn-dange" ng-click="resetPassword(item.uid)">重置密码</button>
					<button class="btn btn-xs btn-warning" ng-click="deleteUser(item.uid)">删除</button>
				</td>
				<td><a ui-sref="auth/user/edit({uid:item.uid})">{{item.username}}</a></td>
				<td style="text-align: center">
					<div ng-if="item.isadmin">
						<img ng-src="{{rootpath}}/resources/image/admin.png" alt="">
					</div>
				</td>
				<td style="text-align: center;">{{item.employeename}}</td>
				<td style="text-align: center; width: 60px;"><img
					ng-src="{{item.isenable == true?rootpath + '/resources/image/tick.png':rootpath + '/resources/image/stop.png'}}"
					alt=""></td>
				<td>{{item.usertypename}}</td>
				<td><a href="mailto:{{item.email}}">{{item.email}}</a></td>
				<td>{{item.lastlogin}}</td>
				<td>{{item.createtime}}</td>
				<td>{{item.comment}}</td>
			</tr>
		</tbody>
	</table>
	<pagination ng-change="loadPage()" total-items="pageParams.total" ng-model="pageParams.page"
		class="pagination-sm" max-size="10" boundary-links="true" rotate="false"></pagination>
	<div>

		<!-- 		<button type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-scale"
			data-placement="center" bs-modal="modal" data-template="../views/tpls/modal.tpl.html">
			Click to toggle modal <br> <small>(using an object)</small>
		</button> -->
	</div>

</div>